/* outros.css */
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  
  #made-by-cameron {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
    font-family: monospace;
  }
  
  #made-by-cameron a {
    color: #fff;
  }
  
  .made-by-author {
    position: absolute;
    right: 2%;
    top: 23%;
  }
  
  .made-by-twitter {
    position: absolute;
    left: 2%;
    top: 23%;
  }